synapse:
  # See `synapse/defaults.yaml` for more settings that can be overridden
  lookup:
    # Install a specific version of synapse (any URL that pip accepts is OK)
    synapse_archive: https://github.com/matrix-org/synapse/archive/v0.18.7.tar.gz

  # See `synapse/files/homeserver.yaml.jinja` for complete list of configuration
  # options.
  config:
    # Domain name of the homeserver
    server_name: example.org

    # Unsecure HTTP listener port
    http_port: 8000
    # Interface to bind unsecure HTTP listener on
    http_bind_address: '127.0.0.1'

  # See `synapse/files/app_service.yaml.jinja` for complete list of
  # configuration option
  app_services:
    registration:
      # URL of application service
      url: 'http://localhost:5000'
      # Token that app service uses to access the Client-Server API
      as_token: wfghWEGh3wgWHEf3478sHFWE
      # Token the homeserver uses to send requests to the app service
      hs_token: ugw8243igya57aaABGFfgeyu

      # local part of the desired user ID for the app service
      # (in this case @logging@localhost)
      localpart: logging

      namespaces:
        users: []
        rooms: []
        aliases:
          - exclusive: false
            regex: '#logged_.*'

  # See `synapse/files/riot_config.json` for complete list of configuration
  # options.
  riot:
    default_hs_url: 'https://matrix.example.org/'
    brand: Example Org
